/* stylelint-disable */

.test-notification {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 1rem;

  .test-alert-notification {
    button {
      margin-right: 1rem;
    }
  }

  .test-banner-notification {
    button {
      margin-left: 1rem;
    }
  }
}
